@using PromoCode.Models

@model PromoCode
@{
    ViewData["Title"] = "Home Page";
}

@if(Model!=null)
{
}<form action="ActivatedPromo" method="POST">
 <input type="text" name="name" value=@Model.name /><br />
 <input type="submit" value="Активировать" />
</form> 

