@Model IActionResult

    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="Privacy">
    <p>
        Наименование: <input type="text" name="name" value="@ViewBag.Search"/>
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
        @Model;
</p>
